$primary-color: rgb(48, 185, 159);
$background-color: #f1f1f1;
$popular-color: #c4c4c4;
$inside-color: #f9f9f9;
$font: "Raleway", sans-serif;

* {
    box-sizing: border-box;
}

body {
    font-family: $font;
    height: 100vh;
}
.row::after::before {
    content: "";
    display: block;
    clear: both;
}
.container {
    max-width: 1082px;
    margin: 0 auto;
}
header {
    background-color: black;
    color: white; 
    height: 41px;
}


menu {
    padding: 10px;
    font-size: 10px;
    p {
    display: inline-block;
    font-size: 15px;
    margin-top: 3px;
    margin-left: -2px;
        span {
            color: $primary-color;
        }
    } 
    ul {
            list-style-type: none;
            float: right;
            font-size: 15px;
             li {
                display: inline-block;
                font-weight: 500;
                margin-top: 4px;
                margin-right: 25px;
                font-size: 14px;
                margin-left: -6px;
                letter-spacing: 0.05em;
}
 } 
}
    
.first {
     background-color:white;
     filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=white, endColorstr=#c6cccf);
     background-image:-moz-linear-gradient(top, white 59%, #c6cccf 100%);
     background-image:-webkit-linear-gradient(top, white 59%, #c6cccf 100%);
     background-image:-ms-linear-gradient(top, white 59%, #c6cccf 100%);
     background-image:linear-gradient(top, white 59%, #c6cccf 100%);
     background-image:-o-linear-gradient(top, white 59%, #c6cccf 100%);
     background-image:-webkit-gradient(linear, right top, right bottom, color-stop(59%,white), color-stop(100%,#c6cccf));
     height: 505px;
}
h1 {
    font-size: 40px;
    color: black;
    margin-top: 134px;
    margin-left: -39px;
    display: inline-block;
}
h1 {
    span {
    color: $primary-color;
    font-weight: 700;
    }
}
.arrow_left {
    display: inline-block;
    font-size: 80px;
    float: left;
    margin-top: 208px;
    font-weight: 300;
    margin-left: 7px;
    position: absolute;
    color: $primary-color;
}
.arrow_right {
    float: right;
    display: inline-block;
    margin-top: -171px;
    font-size: 80px;
    color: $primary-color;
    margin-right: 25px;
    font-weight: 300;
}



.black_chair {
    width: 600px;
    height: auto;
    margin-left: -33px;
    margin-top: 67px;
    float: left;
}
.next_to_chair {
    .paragraph {
        display: block;
        font-size: 14px;
        margin-right: 175px;
        margin-top: 29px;
        line-height: 1.5em;
        text-align: center;
        position: relative;
        right: 27px;
    }
    button {
        height: 52px;
        width: 265px;
        margin-top: 32px;
        margin-left: 12px;
        border-radius: 10px;
        font-size: 24px;
        letter-spacing: 1px;
        background-color: $primary-color;
        color: white;
        border-color: $primary-color;
        font-family: "Raleway";
    }
}
%placeholder_underline {
    content: '';
    width: 138px;
    border-bottom: 7px solid $primary-color;
    display: block;
}  
%placeholder_underline1 {
    content: '';
    width: 323px;
    border-bottom: 9px solid #30b99f;
    display: block;
}  
%placeholder_background {
    background-color: white;
    height: 25%;
    opacity: 0.3;
    position: relative;
}

.ofert {
    display: flex;
    height: 349px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .child {
            height: 72%;
            width: 31%;
                &.claire {
                    img {
                        margin-top: -23px;
                        margin-left: -44px;
                    }
                    h3 {
                        position: relative;
                        top: -130px;
                        left: -26px;
                        &:after {
                            @extend %placeholder_underline;
                            }  
                        }
                    .background {
                        @extend %placeholder_background;
                        top: -80px;
                        left: -44px;
                    }
                    }
                &.margarita {
                    img {
                        margin-top: -23px;
                        margin-left: -21px;
                    }
                    h3 {
                        position: relative;
                        top: -129px;
                        left: -7px;
                        &:after {
                            @extend %placeholder_underline;
                            }  
                        
                    }
                    .background {
                        @extend %placeholder_background;
                        top: -80px;
                        left: -21px;  
                    }
    }
                &.inputs {
                    border: 1px solid lightgray;
                    margin-top: -46px;
                    margin-right: -26px;
                    width: 31.5%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                        h3 {
                            @extend %placeholder_underline;
                            font-weight: 600;
                            position: relative;
                            top: 28px;
                            left: -79px;
}
                        }
                        p {
                            font-size: 0.9em;
                            position: relative;
                            line-height: 1.4em;
                            color: darkgray;
                            &:first-of-type {
                                top: 24px;
                                left: 23px;   
                                }
                            &:last-of-type {
                                top: 28px;
                                left: 24px;
                            }
                        }

                    }
                
        }
.section_three {
    background-color: $background-color;
    height: 725px;
    h2 {
        @extend %placeholder_underline1;
        position: relative;
        left: 87px;
        top: 40px;
        font-size: 1.4em;
        line-height: 1.5em;
    }
}

%type {
    display: inline-block;
    font-size: 23px;
    letter-spacing: -0.5px; 
    margin-top: 9px;
    color: $primary-color;
}
.price {
    height: 70%;
.plan {
    border: 2px solid $popular-color;
    height: 500px;
    width: 329px;
    display: inline-block;
    margin-top: 115px;
    background-color: $inside-color;
    &.basic {
        float: left;
        margin-left: 5px;
        h3 {
            @extend %type;
            margin-left: 105px;
    }
    }
    &.standard {
        float: left;
        margin-left: 34px;
        h3 {
            @extend %type;
            margin-left: 77px;
    }
        
    }
    &.advanced {
        float: right;
        margin-right: 24px;
        h3 {
            @extend %type;
            margin-left: 76px;
    }
    }
    }
}

%circle_in {
    width: 25px;
    height: 25px;
    background-color: $popular-color;
    border-radius: 50%;
    margin-top: 12px;
    margin-left: 13px;
}
%circle_out {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid $popular-color;
    background-color: white;
    margin-top: -37px;
    margin-left: 137px;
}

.one, .two, .three {
    &.in {
       @extend %circle_in; 
    }
    &.out {
       @extend %circle_out; 
    }
}

.prices {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid $popular-color; 
    margin-left: 100px;
    margin-top: 27px;
    background-color: white;
    p {
        text-align: center;
        line-height: 28px;
        font-weight: 700;
        font-size: 44px;
        margin-top: 37px;
        margin-left: 5px;
        color: $popular-color;
        span {
            font-weight: 500;
            font-size: 15px;
            margin-left: -3px;
        }
        sup { 
            font-size: 14px;
            top: -1.8em;
        }    
    }
    }
.plan {
    ul {
        text-align: center;
        margin-top: 37px;
        line-height: 42px;
        li {
            font-size: 24px;
            color: darkgray;
            background-color: #e4e4e4;
            &:nth-child(2n){
                color: gray;
                background-color: $background-color;
            }
        }  
    }
    a {
        background-color: $primary-color;
        text-decoration: none;
        color: white;
        margin-left: 132px;
        position: relative;
    }
}

%btns {
    padding: 8px 29px;
    border-radius: 9px;
}

.btns {
    position: relative;
    &.one {
    top: 121px;
    left: -25px;
        a {
            @extend %btns;
        }
    }
    &.two {
        top: 79px;
        left: -28px;
        a {
            @extend %btns;
        }
    }
    &.three {
        top: 37px;
        left: -27px;
        a {
            @extend %btns;
        }
    }
}
.plan {
    &.basic,
    &.standard,
    &.advanced {
        &:hover {
            background-color: $primary-color;
            border: 2px solid $primary-color;
            h3 {
                color: white;
            }
            .in {
                background-color: white;
            }
            .out {
                background-color: $primary-color;
                border: 2px solid $primary-color;
            }
            .prices {
                border: 2px solid $primary-color;
                p {
                    color: $primary-color;
                }
            }
            ul li {
                background-color: white;
                color: $popular-color;
                &:nth-child(2n){
                    background-color: $background-color;
                }
            }
            a {
            background-color: white;
            color: $primary-color;
            } 
        }
    }
}



 


 








